body {
    background-color: #1c1e21;
}

.bg-custom {
    background-color: #242526;
    color: white;
}

.card {
    background-color: #242526;
    color: white;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

span.post-title a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
    text-transform: capitalize;
}

.post-card {
    display: flex;
    justify-content: space-between;
}

.dropdown-card{
    outline: transparent;
}

.cd-foo button:hover {
    background-color: #1c1e21;
    color: white !important;
}

.border-bottom,
.border-top{
    border: 1px solid rgb(36, 37, 38) ;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
label.btnUpload {
    display: block;
    width: auto;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 15px;
    text-align: center;
    height: auto;
    color: white;
    border-radius: 25px;
    margin-left: 7%;

}
label.btnUpload:hover {
    background-color: #1c1e21;
}
*:focus {
    outline: none !important;
}